/*Main global CSS*/
:root {
  --textColor: #ffffff;
  --headerBGColor: #252525;
  --contentBGColor: #ffffff;
  --iconBGColor: #3f3f3f;

  /*image dimensions*/
  --imgWidth: 400px;
  --imgHeight: 225px;
}

body {
  background-color: var(--headerBGColor);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  min-height: 100vh;
  background-color: var(--contentBGColor);
}

p {
  margin: 0px;
}

a {
  text-decoration: none;
  color:rgb(0, 0, 0);
  margin: 0px;
}

h2 {
  margin: 0px;
  font-size: 24px;
}

a:hover {
  color: rgb(78, 78, 78);
}

.glue {
  flex-grow: 1;
}



/*Post/Image related CSS*/
.image{
  width: var(--imgWidth);
  height: var(--imgHeight);
}

.imageBox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
}

.browseRow{
  display: flex;
  overflow-x: scroll;
  align-items: center;

  margin-bottom: 80px;
  height: calc(var(--imgHeight) + 80px);
  width: 90%;
}

.imageRow{
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  align-items: center;

  width: 90%;
  height: calc(var(--imgHeight) + 30px);
}

.postBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  width: 400px;
  margin-left: 10px;
  margin-right: 10px;
  border: 2px solid var(--headerBGColor);
}

.column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 90%;
  margin: 20px;
}
.details p {
  margin-bottom: 20px;
  text-align: center;
  max-width: 500px;
}


/*Header CSS*/
.header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  margin-bottom: 10px;
  background-color: var(--headerBGColor);
}

#logo{
  display: flex;
  justify-content: center;
  align-items: center;

  white-space: nowrap;
}
#logo a{
  font-size: 75px;
  font-weight: bold;
  color: var(--textColor);
}

.headerButtonDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerLink {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;

  width: 70px;
  height: 70px;
  border: 2px solid #ffffff;
  border-radius: 20px;

  text-decoration: none;
  background-color: var(--iconBGColor);
  color: var(--textColor);
  font-size: 30px;
  font-weight: bold;
}
.headerLink:hover {
  color: rgb(180, 180, 180);
}


/*Footer CSS*/
.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 50px;
  color: #808080;

  margin-top: 40px;
  margin-left: 120px;
  margin-right: 120px;
  margin-bottom: 40px;
}
.footer a{
  color: #808080;
}
.footer a:hover{
  color: rgb(78, 78, 78);
}

/*searchbar*/
.searchbarForm{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 50px;
  margin-bottom: 40px;
}

.searchbarForm input {
  margin-left: 10px;
  width: 40%;
  height: 20px;
}