/*Main global CSS*/
:root {
  --textColor: #ffffff;
  --headerBGColor: #252525;
  --contentBGColor: #ffffff;
  --iconBGColor: #303030;
}

body {
  background-color: var(--headerBGColor);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  min-height: 100vh;
  background-color: var(--contentBGColor);
}

p {
  margin: 0px;
}

a {
  text-decoration: none;
  color:rgb(0, 0, 0);
  margin: 0px;
}

h2 {
  margin: 0px;
}

a:hover {
  color: rgb(78, 78, 78);
}

.glue {
  flex-grow: 1;
}




/*Post related CSS*/
.row{
  display: flex;
  justify-content: center;
  overflow: auto;
}

.row2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.browseRow{
  display: flex;
  overflow: scroll;
  align-items: center;

  margin-bottom: 80px;
  height: 250px;
  width: 90%;
}

.divPost{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  width: 300px;
  height: 90%;
  margin-left: 10px;
  margin-right: 10px;
  border: 2px solid var(--headerBGColor);
}



/*Header CSS*/
.header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  margin-bottom: 10px;
  background-color: var(--headerBGColor);
}

#logo{
  display: flex;
  justify-content: center;
  align-items: center;

  white-space: nowrap;
}
#logo a{
  font-size: 75px;
  font-weight: bold;
  color: var(--textColor);
}

.headerButtonDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerLink {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;

  width: 70px;
  height: 70px;
  border: 2px solid white;
  border-radius: 20px;

  text-decoration: none;
  background-color: var(--headerBGColor);
  color: var(--textColor);
  font-size: 30px;
  font-weight: bold;
}
.headerLink:hover {
  color: rgb(180, 180, 180);
}


/*Footer CSS*/
.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 50px;
  color: #808080;

  margin-top: 40px;
  margin-left: 120px;
  margin-right: 120px;
  margin-bottom: 40px;
}
.footer a{
  color: #808080;
}
.footer a:hover{
  color: rgb(78, 78, 78);
}


/*image*/
.allImage{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: auto;

  width: 80%;
}

.imageBox{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image{
  width: 300px;
  height: 169px;
}

.browsePostImage{
  width: 300px;
  height: 169px;
}


/*searchbar*/
.searchbarForm{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 50px;
  margin-bottom: 40px;
}

.searchbarForm input {
  margin-left: 10px;
  width: 40%;
  height: 20px;
}