/*Main global CSS*/
:root{
  --textColor: #ffffff;
  --headerBGColor: #c74d4d;
  --iconBGColor: #9e3f3f;
  --contentBGColor: #ffffff;
  --bodyBGColor: #252525;

  /*input*/
  --buttonColor: #dbdbdb;
  --buttonHover: #c0c0c0;
  --buttonPressed: #a8a8a8;
  --buttonTextColor: black;
  --buttonBorder: 1px solid black;
  --buttonRadius: 5px;

  /*image dimensions*/
  --imgWidth: 400px;
  --imgHeight: 225px;
}

body{
  background-color: var(--bodyBGColor);
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  min-height: 100vh;
  background-color: var(--contentBGColor);
}

p{
  margin: 0px;
}

a{
  text-decoration: none;
  color:rgb(0, 0, 0);
  margin: 0px;
}
a:hover{
  color: rgb(78, 78, 78);
}

h2{
  margin: 0px;
  font-size: 28px;
}

h3{
  margin: 0px;
}

.glue{
  flex-grow: 1;
}

.v-gap-L{
  margin-bottom: 80px;
}
.v-gap-S{
  margin-bottom: 20px;
}



/*Post/Image related CSS*/
.image{
  width: var(--imgWidth);
  height: var(--imgHeight);
}

.imageBox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
}

.browseRow{
  display: flex;
  overflow-x: scroll;
  align-items: center;

  height: calc(var(--imgHeight) + 80px);
  width: 95%;
}

.imageRow{
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  align-items: center;

  width: 95%;
  height: calc(var(--imgHeight) + 30px);
}

.postBox{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  width: 400px;
  margin-left: 10px;
  margin-right: 10px;
  border: 2px solid black;
}

.column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.details{
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 95%;
  margin: 20px;
}
.details p{
  margin-bottom: 20px;
  text-align: center;
  max-width: 500px;
}

.editDetails{
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 95%;
}
.editDetails label{
  margin-top: 10px;
  text-align: center;
}


/*Header CSS*/
.header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  margin-bottom: 10px;
  background-color: var(--headerBGColor);
}

#logo{
  display: flex;
  justify-content: center;
  align-items: center;

  white-space: nowrap;
}
#logo a{
  font-size: 75px;
  font-weight: bold;
  color: var(--textColor);
}

.headerButtonDiv{
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerLink{
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;

  width: 70px;
  height: 70px;
  border: 2px solid #ffffff;
  border-radius: 20px;

  text-decoration: none;
  background-color: var(--iconBGColor);
  color: var(--textColor);
  font-size: 30px;
  font-weight: bold;
}
.headerLink:hover{
  color: rgb(180, 180, 180);
}
.headerLink img{
  width: 40px;
  height: 40px;
}


/*searchbar*/
.searchbarForm{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 50px;
  margin-bottom: 40px;
}

.searchbarForm input{
  margin-left: 10px;
  width: 40%;
  height: 20px;
}


/*input*/
button{
  height: 40px;
  background-color: var(--buttonColor);
  color: var(--buttonTextColor);
  border: var(--buttonBorder);
  border-radius: var(--buttonRadius);

  margin: 4px;
}
button:hover{
  background-color: var(--buttonHover);
}
button:active{
  background-color: var(--buttonPressed);
}

select{
  height: 40px;
  background-color: var(--buttonColor);
  color: var(--buttonTextColor);
  border: var(--buttonBorder);
  border-radius: var(--buttonRadius);
  
  margin: 4px;
}
select:hover{
  background-color: var(--buttonHover);
}
select:active{
  background-color: var(--buttonPressed);
}

input[type="button"]{
  height: 40px;
  background-color: var(--buttonColor);
  color: var(--buttonTextColor);
  border: var(--buttonBorder);
  border-radius: var(--buttonRadius);

  margin: 4px;
}
input[type="button"]:hover{
  background-color: var(--buttonHover);
}
input[type="button"]:active{
  background-color: var(--buttonPressed);
}

input[type="submit"]{
  height: 40px;
  background-color: var(--buttonColor);
  color: var(--buttonTextColor);
  border: var(--buttonBorder);
  border-radius: var(--buttonRadius);

  margin: 4px;
}
input[type="submit"]:hover{
  background-color: var(--buttonHover);
}
input[type="submit"]:active{
  background-color: var(--buttonPressed);
}

input[type="file"]::file-selector-button{
  height: 40px;
  background-color: var(--buttonColor);
  color: var(--buttonTextColor);
  border: var(--buttonBorder);
  border-radius: var(--buttonRadius);
}
input[type="file"]::file-selector-button:hover{
  background-color: var(--buttonHover);
}
input[type="file"]::file-selector-button:active{
  background-color: var(--buttonPressed);
}

.deleteImageButton{
  width: 60px;
}

.btnRed[type="submit"]{
  background-color: rgb(240, 51, 27);
}
.btnRed[type="submit"]:hover{
  background-color: rgb(177, 38, 19);
}
.btnRed[type="submit"]:active{
  background-color: rgb(109, 24, 12);
}

.btnGreen[type="submit"]{
  background-color: rgb(22, 255, 138);
}
.btnGreen[type="submit"]:hover{
  background-color: rgb(16, 184, 100);
}
.btnGreen[type="submit"]:active{
  background-color: rgb(12, 126, 69);
}

/*login*/
.loginForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginForm label{
  margin-top: 20px;
}

.loginForm input[type="submit"] {
  margin-top: 20px;
}


/*my account*/
.myAccount{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.myAccount h3{
  margin-top: 20px;
}


/*Footer CSS*/
.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 50px;
  color: #808080;

  margin-top: 40px;
  margin-left: 120px;
  margin-right: 120px;
  margin-bottom: 40px;
}
.footer a{
  color: #808080;
}
.footer a:hover{
  color: rgb(78, 78, 78);
}


/*about page*/
.aboutSection{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aboutIcon{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;

  margin: 8px;
  height: 50px;
  width: 90%;

  white-space: pre;
}

.aboutIcon img{
  width: 40px;
  height: 40px;
  background-color: var(--iconBGColor);
  margin-right: 8px;
}


/*form validation*/
ul{
  margin: 0px;
}

li{
  margin: 0px;
  color: red;
}