<!DOCTYPE html>

<html lang="en-US">
	<head>
		<!--style-->
		{% load static %}
		<link rel="stylesheet" href="{% static 'browse/style.css' %}">

		<meta charset="utf-8" />
		<title>eDog - Edit Post</title>
	</head>

	<body>
		<div class="content">
            <!--header-->
			{% include "browse/header.html" %}
			
			<!--page title-->
			<h2>Edit Post</h2>

			<!--delete pics section-->
			<div id="photoDiv" class="browseRow">
				<div class="glue"></div>
				<!--images-->
				{% for image in allImages %}
					<div id="imageAndButton{{image.pk}}" class="imageBox">
						<div class="imageBox">
							<img class="image" id="image{{image.pk}}" src="{{image.photo.url}}">
						</div>

						<!--delete button-->
						<div class="row">
							<button id="button{{image.pk}}" class="deleteImageButton" type="button" onclick="deleteImage('{{image.pk}}')">
								<p>🗑️</p>
							</button>
						</div>
					</div>
				{% endfor %}
				<div class="glue"></div>
			</div>
			<script src="{% static 'post/deletePic.js' %}"></script>

			<!--add image form-->
			<div class="v-gap-S"></div>
            <div id="addImage" class="row">
				<!--select file button-->
				<input id="selectFile" type="file" accept="image/*"/>

				<!--upload button-->
				<button id="uploadButton" class="buttonLink" type="button" onclick="uploadPicture()">
					<p>Upload (8MB)</p>
				</button>

				<input type="hidden" id="postPK" value="{{postPK}}"/>
				<script src="{% static 'post/uploadPic.js' %}"></script>
            </div>

            <!--edit post form-->
			<div class="v-gap-S"></div>
            <form id="editPostFormID" class="editDetails" action="/post/edit/{{postPK}}/" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{editPostForm}}
                <input type="hidden" name="postPK" value="{{postPK}}"/>
				<input type="button" value="Save" class="buttonLink" onclick="submitEditPostForm()">
            </form>

			<!--delete buttons (on a form)-->
			<form id="deleteButtonsForm" class="row" action="/post/dodelete/" method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<button id="deleteButton" class="buttonLink" type="button" onclick="clickDelete()"><p>Delete</p></button>
				<button id="cancelButton" class="buttonLink" type="button" onclick="clickCancel()"><p>Cancel</p></button>
				<input id="confirmButton" class="buttonLink" type="submit" value="Confirm">
				<input type="hidden" name="postPK" value="{{postPK}}"/>
			</form>
			<script src="{% static 'post/deletePost.js' %}"></script>
			
			<!--footer-->
			{% include "browse/footer.html" %}
		</div>
	</body>
</html>