<div class="glue"></div>
{% if postBoxes %}
	{% for postBox in postBoxes %}
        <a class="postBox" href="{{postBox.url}}/">
			<!--images-->
			<div class="imageBox">
			    <img class="image" src="{{postBox.thumbnail.photo.url}}">
			</div>

			<!--info-->
    		<div class="glue"></div>
			{% if postBox.post.breeds%}
				<p>{{postBox.post.breeds}}</p>
			{% else %}
				<p>N/A</p>
			{% endif %}
			<div class="glue"></div>
			<p>${{postBox.post.price}}</p>
			<div class="glue"></div>
		</a>
	{% endfor %}
{% else %}
	<p>No posts are available.</p>
{% endif %}
<div class="glue"></div>