<!DOCTYPE html>

<html lang="en-US">

	<!--Head-->
	<head>
		<!--style-->
		{% load static %}
		<link rel="stylesheet" href="{% static 'browse/style.css' %}">

		<meta charset="utf-8" />
		<title>eDog - Manage Posts</title>
	</head>


	<!--Body-->
	<body>
		<div class="content">
            <!--header-->
			{% include "browse/header.html" %}
			
			<!--page title-->
			<h2>Manage Posts</h2>

			<!--show editable posts-->
			<div class="browseRow">
				{% include "post/postBoxes.html" %}
			</div>
			<div class="v-gap-S"></div>

			<!--create post button-->
			<div class="row">
				<button class="buttonLink" onclick="clickNewPost()"><p>New Post</p></button>
				<script src="{% static 'post/maxPostsCheck.js' %}"></script>
			</div>
			
			<!--footer-->
			{% include "browse/footer.html" %}
		</div>
	</body>

</html>