<!DOCTYPE html>

<html lang="en-US">

	<!--Head-->
	<head>
		<!--style-->
		{% load static %}
		<link rel="stylesheet" href="{% static 'browse/style.css' %}">

		<meta charset="utf-8" />
		<title>eDog - User</title>
	</head>


	<!--Body-->
	<body>
		<div class="content">
			<!--header-->
			{% include "browse/header.html" %}

			<!--user info-->
			<h2>{{user.username}}</h2>
			<p>{{user.dateCreated}}</p>

			<!--posts-->
			<h3>Posts:</h3>
			<div class="row2">
				{% include "post/fullposts.html" %}
			</div>

			<!--footer-->
			{% include "browse/footer.html" %}
		</div>
	</body>

</html>