<!DOCTYPE html>

<html lang="en-US">
	<head>
		{% load static %}
		{% include "browse/head.html" %}
		<title>eDog - Login</title>
	</head>

	<body>
		<div class="content">
            <!--header-->
			{% include "browse/header.html" %}

			<h2>Login</h2>

            <!--login form-->
            <form id="loginFormID" class="loginForm" action="/user/login/" method="post">
                {% csrf_token %}
                {{loginForm}}
				<input type="hidden" name="next" value="{{ request.GET.next }}"/>
				<input type="submit" value="Submit">
            </form>

			<!--sign up button-->
			<div class="v-gap-L"></div>
			<div class="row">
				<button class="buttonLink" onclick="window.location.href='/user/signup/';"><p>Sign Up</p></button>
			</div>

			<!--footer-->
			{% include "browse/footer.html" %}
		</div>
	</body>

</html>