<!DOCTYPE html>

<html lang="en-US">
	<head>
		{% load static %}
		{% include "browse/head.html" %}
		<title>eDog - Account</title>
	</head>

	<body>
		<div class="content">
            <!--header-->
			{% include "browse/header.html" %}
			
			<h2>Account</h2>
			
			<div class="myAccount">
				<h3>Username</h3>
				<a href="/user/{{user.username}}"><p>{{user.username}}</p></a>

				<h3>Name</h3>
				{% if user.first_name %}
					<p>{{user.first_name}} {{user.last_name}}</p>
				{% else %}
					<p>N/A</p>
				{% endif %}

				<h3>Email</h3>
				<p>{{user.email}}</p>
			</div>

			{% if user.is_staff %}
			<!--staff page button-->
				<div class="v-gap-L"></div>
				<div class="row">
					<button class="buttonLink" onclick="window.location.href='/staff/';"><p>Staff Portal</p></button>
				</div>
			{% endif %}

			<!--sign out button-->
			<div class="v-gap-L"></div>
			<div class="row">
				<button class="buttonLink" onclick="window.location.href='/user/logout/';"><p>Log Out</p></button>
			</div>
			
			<!--footer-->
			{% include "browse/footer.html" %}
		</div>
	</body>

</html>