<!DOCTYPE html>

<html lang="en-US">
	<head>
		{% load static %}
		{% include "browse/head.html" %}
		<title>eDog - Sign Up</title>
	</head>

	<body>
		<div class="content">
            <!--header-->
			{% include "browse/header.html" %}
			
			<!--page title-->
			<h2>Sign Up</h2>

            <!--signup form-->
            <form id="signupFormID" class="loginForm" action="/user/signup/" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{signupForm}}
				<input type="submit" value="Submit">
            </form>
			
			<!--footer-->
			{% include "browse/footer.html" %}
		</div>
	</body>

</html>