<!DOCTYPE html>

<html lang="en-US">
	<head>
		{% load static %}
		{% include "browse/head.html" %}
		<title>eDog - About</title>
	</head>

	<body>
		<div class="content">
			<!--header-->
			{% include "browse/header.html" %}
            
            <div class="glue"></div>

            <!--About-->
            <div class="aboutSection">
				<h3>Icon Credits</h3>

                <div class="aboutIcon">
                    <img src="/media/icons/account.png" alt="Account">
					<a target="_blank" href="https://icons8.com/icon/2oRq7VXjDba7/account">Account</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
                </div>

                <div class="aboutIcon">
					<img src="/media/icons/edit.png" alt="Edit">
                    <a target="_blank" href="https://icons8.com/icon/114092/edit">Edit</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
                </div>

				<div class="aboutIcon">
					<img src="/media/icons/pin.png" alt="Pin">
					<a target="_blank" href="https://icons8.com/icon/476/pin">Pin</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
				</div>

				<div class="aboutIcon">
					<img src="/media/icons/notification.png" alt="Notification">
					<a target="_blank" href="https://icons8.com/icon/eMfeVHKyTnkc/notification">Notification</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
				</div>
            </div>

            <div class="glue"></div>

			<div class="aboutSection">
				<h3>Disclaimers</h3>
				<p>This is a demo site, a work in progress.</p>
				<p>Posts on this site are only meant to serve as proof of concept.</p>
				<p>I used AI to generate the descriptions.</p>
				<p>Some of the posts may have been made by other people.</p>
				<p>Posts are manually reviewed before being approved for the front page.</p>
			</div>

            <div class="glue"></div>

			<!--footer-->
			{% include "browse/footer.html" %}
		</div>
	</body>

</html>