<!--Header/Logo-->
<div class="header">
    <!--glue-->
    <div class="glue"></div>

    <!--profile-->
    <div class="headerButtonDiv">
        <a class="headerLink" href='/post/manage/'>Pr</a>
    </div>

    <!--glue-->
    <div class="glue"></div>

    <!--pinned-->
    <div class="headerButtonDiv">
        <a class="headerLink" href='/user/pinned/'>Pi</a>
    </div>

    <!--glue-->
    <div class="glue"></div>

    <!--logo-->
    <div id="logo">
        <a href='/browse/'>e-Dog</a>
    </div>

    <!--glue-->
    <div class="glue"></div>

    <!--msg-->
    <div class="headerButtonDiv">
        <a class="headerLink" href='/post/manage/'>Msg</a>
    </div>

    <!--glue-->
    <div class="glue"></div>

    <!--notifications-->
    <div class="headerButtonDiv">
        <a class="headerLink" href='/post/manage/'>Nf</a>
    </div>

    <!--glue-->
    <div class="glue"></div>
</div>

<!--get csrf for fetch-->
{% csrf_token %}
<script>
	const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
</script>