<!--Header/Logo-->
<div class="header">
    <!--glue-->
    <div class="glue"></div>

    <!--notifications-->
    <div class="headerButtonDiv">
        <button class="headerButton">N</button>
    </div>

    <!--glue-->
    <div class="glue"></div>

    <!--Logo-->
    <div id="logo">
        <a href='/browse/'>e-Dog</a>
    </div>

    <!--glue-->
    <div class="glue"></div>

    <!--Account-->
    <div class="headerButtonDiv">
        <button class="headerButton">A</button>
    </div>

    <!--glue-->
    <div class="glue"></div>
</div>

<!--get csrf for fetch-->
{% csrf_token %}
<script>
	const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
</script>