<!DOCTYPE html>

<html lang="en-US">
	<head>
		{% load static %}
		<link rel="stylesheet" href="{% static 'browse/style.css' %}">

		<meta charset="utf-8" />
		<title>eDog - Browse</title>
	</head>

	<body>
		<div class="content">
			<!--header-->
			{% include "browse/header.html" %}

			<!--search bar-->
			{% include "browse/searchbar.html" %}

			<!--posts-->
			<h2>Featured</h2>
			<div class="browseRow">
				{% include "post/fullposts.html" %}
			</div>

			<!--posts again-->
			<h2>Recent</h2>
			<div class="browseRow">
				{% include "post/fullposts.html" %}
			</div>

			<!--posts again-->
			<h2>Nearby</h2>
			<div class="browseRow">
				{% include "post/fullposts.html" %}
			</div>

			<!--glue-->
    		<div class="glue"></div>

			<!--footer-->
			{% include "browse/footer.html" %}
		</div>
	</body>

</html>