<!DOCTYPE html>

<html lang="en-US">
	<head>
		{% load static %}
		{% include "browse/head.html" %}
		<title>eDog - Browse</title>
	</head>

	<body>
		<div class="content">
			<!--header-->
			{% include "browse/header.html" %}

			<!--search bar-->
			{% include "browse/searchbar.html" %}

			<!--featured posts-->
			<h2>Recent</h2>
			<div class="browseRow">
				{% include "post/postBoxes.html" with postBoxes=recentPostBoxes %}
			</div>
			<div class="v-gap-L"></div>

			<!--random posts-->
			<h2>Random</h2>
			<div class="browseRow">
				{% include "post/postBoxes.html" with postBoxes=randomPostBoxes %}
			</div>
			<div class="v-gap-L"></div>

			<!--recent posts-->
			<h2>Youngest</h2>
			<div class="browseRow">
				{% include "post/postBoxes.html" with postBoxes=youngestPostBoxes %}
			</div>
			<div class="v-gap-L"></div>

    		<div class="glue"></div>

			<!--footer-->
			{% include "browse/footer.html" %}
		</div>
	</body>

</html>